# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Tuist
*.xcodeproj
*.xcworkspace
.tuist/
Derived/
Tuist/Dependencies/
Tuist/.build/
graph.png

# macOS
.DS_Store
*.swp
