# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
